---
---
<footer>
      <div class="rule" style="margin-top:1.25rem"></div>
      <div>© <span id="year"></span> The Juncta Juvant</div>
      <div> <a href="/about">About this site.</a></div>
      <div>Powered by <a href="https://goettalife.com">Goetta</a>.</div>
    </footer>