---
---
<header class="masthead">
  <div class="flag-col">
    <a href="https://junctajuvant.com"><img src="/flag.png" alt="Flag of Cincinnati"></a>
  </div>

  <div class="title-col">
    <div class="nameplate">Juncta Juvant</div>
    <div class="tagline">A Queen City Compendium</div>
    <div id="dateline" class="dateline">Cincinnati, Ohio — </div>
  </div>

  <div class="poem-col">
    <div class="poem">
      <i>And this Song of the Vine,<br>
      This greeting of mine,<br>
      The winds and the birds shall deliver<br>
      To the Queen of the West,<br>
      In her garlands dressed,<br>
      On the banks of the Beautiful River</i>
    </div>
  </div>
</header>

<div class="rule"></div>
